body {
    background-image: url(./neon_bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: right;
}

h1, p, label {
    text-align: center;
}

input, label, #survey-form {
    margin: 0 auto;
}

#survey-form {
    width: 50%;
    height: max-content;
    background-color: rgba(36, 0, 128, 0.762);
    margin-bottom: 5%;
}

label {
    display: block;
}

input {
    background-color: rgba(36, 0, 128, 0.762);
    border: 2px solid (0, 0, 128, 0.762);
    display: block;
}

label, h1, p {
    color: white;
}